.info-pill {
    background-color: var(--shade-color);
    border-radius: 15px;
    padding: 4px 8px;
}

.board-preview {
    border-radius: 15px;
    padding: 8px;
    background-color: var(--window-bg-color);
}

.board-preview label {
    font-size: xx-small;
}

.board-cell {
    border-style: none;
    border-radius: 0;
}

.board-cell-outside {
    border-style: none;
    border-radius: 0;
    background-color: var(--background-color);
}

@media (prefers-color-scheme: dark) {
    .board-cell-simple {
        background-color: #333333;
    }

    .board-cell-0 {
        background-color: #333333;
    }

    .board-cell-1 {
        background-color: #444444;
    }

    .board-cell-2 {
        background-color: #555555;
    }

    .board-cell-3 {
        background-color: #666666;
    }
}

@media (prefers-color-scheme: light) {
    .board-cell-simple {
        background-color: var(--light-2);
    }

    .board-cell-0 {
        background-color: var(--light-2);
    }

    .board-cell-1 {
        background-color: var(--light-3);
    }

    .board-cell-2 {
        background-color: var(--light-4);
    }

    .board-cell-3 {
        background-color: var(--light-5);
    }
}

.target-selection {
    border-style: solid;
    border-width: 3px;
    border-color: var(--accent-color);
}
