.info-pill {
    background-color: var(--shade-color);
    border-radius: var(--window-radius);
    padding: 4px 8px;
}

.tile-cell {
    border-style: none;
    border-radius: 0;
}

.tile-cell-0 {
    background-color: var(--blue-5);
}

.tile-cell-1 {
    background-color: var(--green-5);
}

.tile-cell-2 {
    background-color: var(--yellow-5);
}

.tile-cell-3 {
    background-color: var(--red-5);
}

.tile-cell-4 {
    background-color: var(--purple-5);
}

.tile-cell-5 {
    background-color: var(--orange-5);
}

.tile-cell-6 {
    background-color: var(--brown-5);
}

.tile-cell-7 {
    background-color: var(--blue-2);
}

.tile-cell-8 {
    background-color: var(--green-2);
}

.tile-cell-9 {
    background-color: var(--purple-2);
}

.tile-cell-10 {
    background-color: var(--yellow-2);
}

.tile-cell-11 {
    background-color: var(--brown-2);
}

.overlap-highlight {
    border-style: solid;
    border-width: 3px;
    border-color: var(--error-bg-color);
    opacity: var(--dim-opacity);
}

.out-of-bounds-highlight {
    border-style: solid;
    border-width: 3px;
    border-color: var(--warning-bg-color);
    opacity: var(--dim-opacity);
}

.board-grid {
}

.board-cell {
    border-style: none;
    border-radius: 0;
}

@media (prefers-color-scheme: dark) {
    .board-cell-simple {
        background-color: #333333;
    }

    .board-cell-0 {
        background-color: #333333;
    }

    .board-cell-1 {
        background-color: #444444;
    }

    .board-cell-2 {
        background-color: #555555;
    }

    .board-cell-3 {
        background-color: #666666;
    }
}

@media (prefers-color-scheme: light) {
    .board-cell-simple {
        background-color: var(--light-2);
    }

    .board-cell-0 {
        background-color: var(--light-2);
    }

    .board-cell-1 {
        background-color: var(--light-3);
    }

    .board-cell-2 {
        background-color: var(--light-4);
    }

    .board-cell-3 {
        background-color: var(--light-5);
    }
}

.target-selection {
    border-style: solid;
    border-width: 3px;
    border-color: var(--accent-color);
}
