.info-pill {
    background-color: var(--shade-color);
    border-radius: 15px;
    padding: 4px 8px;
}

.board-preview {
    border-radius: 15px;
    padding: 8px;
    background-color: var(--window-bg-color);
}

.board-preview label {
    font-size: xx-small;
}

.tile-cell {
    border-style: none;
    border-radius: 0;
}

.tile-cell-0 {
    background-color: var(--blue-5);
}

.tile-cell-1 {
    background-color: var(--green-5);
}

.tile-cell-2 {
    background-color: var(--yellow-5);
}

.tile-cell-3 {
    background-color: var(--red-5);
}

.tile-cell-4 {
    background-color: var(--purple-5);
}

.tile-cell-5 {
    background-color: var(--orange-5);
}

.tile-cell-6 {
    background-color: var(--brown-5);
}

.tile-cell-7 {
    background-color: var(--blue-2);
}

.tile-cell-8 {
    background-color: var(--green-2);
}

.tile-cell-9 {
    background-color: var(--yellow-2);
}

.tile-cell-10 {
    background-color: var(--red-2);
}

.tile-cell-11 {
    background-color: var(--purple-2);
}

.tile-cell-12 {
    background-color: var(--orange-2);
}

.tile-cell-13 {
    background-color: var(--brown-2);
}

.tile-cell-14 {
    background-color: var(--blue-4);
}

.tile-cell-15 {
    background-color: var(--green-4);
}

.tile-cell-16 {
    background-color: var(--yellow-4);
}

.tile-cell-17 {
    background-color: var(--red-4);
}

.tile-cell-18 {
    background-color: var(--purple-4);
}

.tile-cell-19 {
    background-color: var(--orange-4);
}

.tile-cell-20 {
    background-color: var(--brown-4);
}

.tile-cell-21 {
    background-color: var(--blue-3);
}

.tile-cell-22 {
    background-color: var(--green-3);
}

.tile-cell-23 {
    background-color: var(--yellow-3);
}

.tile-cell-24 {
    background-color: var(--red-3);
}

.tile-cell-25 {
    background-color: var(--purple-3);
}

.tile-cell-26 {
    background-color: var(--orange-3);
}

.tile-cell-27 {
    background-color: var(--brown-3);
}

.overlap-highlight {
    border-style: solid;
    border-width: 3px;
    border-color: var(--error-bg-color);
    opacity: var(--dim-opacity);
}

.out-of-bounds-highlight {
    border-style: solid;
    border-width: 3px;
    border-color: var(--warning-bg-color);
    opacity: var(--dim-opacity);
}

.board-grid {
}

.board-cell {
    border-style: none;
    border-radius: 0;
}

.board-cell-outside {
    border-style: none;
    border-radius: 0;
    background-color: var(--background-color);
}

@media (prefers-color-scheme: dark) {
    .board-cell-simple {
        background-color: #333333;
    }

    .board-cell-0 {
        background-color: #333333;
    }

    .board-cell-1 {
        background-color: #444444;
    }

    .board-cell-2 {
        background-color: #555555;
    }

    .board-cell-3 {
        background-color: #666666;
    }
}

@media (prefers-color-scheme: light) {
    .board-cell-simple {
        background-color: var(--light-2);
    }

    .board-cell-0 {
        background-color: var(--light-2);
    }

    .board-cell-1 {
        background-color: var(--light-3);
    }

    .board-cell-2 {
        background-color: var(--light-4);
    }

    .board-cell-3 {
        background-color: var(--light-5);
    }
}

.target-selection {
    border-style: solid;
    border-width: 3px;
    border-color: var(--accent-color);
}
