.tile-cell {
    border-style: none;
    border-radius: 0;
}

.tile-cell-0 {
    background-color: #1A5FB4;
}

.tile-cell-1 {
    background-color: #26A269;
}

.tile-cell-2 {
    background-color: #E5A50A;
}

.tile-cell-3 {
    background-color: #C64600;
}

.tile-cell-4 {
    background-color: #A51D2D;
}

.tile-cell-5 {
    background-color: #613583;
}

.tile-cell-6 {
    background-color: #63452C;
}

.tile-cell-7 {
    background-color: #62A0EA;
}

.tile-cell-8 {
    background-color: #57E389;
}

.tile-cell-9 {
    background-color: #C061CB;
}

.tile-cell-10 {
    background-color: #F8E45C;
}

.tile-cell-11 {
    background-color: #B5835A;
}

.overlap-highlight {
    border-style: dotted;
    border-width: 3px;
    border-color: #E01B24;
}

.out-of-bounds-highlight {
    border-style: dotted;
    border-width: 3px;
    border-color: #FF7800;
}

.board-grid {
}

.board-cell {
    border-style: none;
    border-radius: 0;
}

.board-cell-0 {
    background-color: #333333;
}

.board-cell-1 {
    background-color: #444444;
}

.board-cell-2 {
    background-color: #555555;
}

.board-cell-3 {
    background-color: #666666;
}
