on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Setup Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential meson ninja-build pkg-config rustup msgfmt
          rustup toolchain install stable
      - name: Build Project
        run: |
          meson setup build
          meson compile -C build
